<% title "My Profile" %>
<p>Username: <%=h @user.username %></p>
<p><%= link_to "Find Matches", users_path %></p>

<h2>Your Matches</h2>
<ul>
  <% for user in @user.friends %>
  <li><%= h user.username %></li>
  <% end %>
</ul>
