@import "bootstrap-sprockets";
@import "bootstrap";

.form-inputs input {
  margin-left: 8px;
}

nav .container {
  padding-left: 30px;
  padding-right: 30px;
}

.profile-pic {
  img {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
  }
}

.sidebar-column {
  border-left:1px solid #ddd
}

.subprofile {
  height: 100%;
}

.boolean.optional.checkbox {
  margin-left: 20px;
}

.match-profile .profile-pic {
  width: 100%;
  height: 600px;
  overflow-y: hidden;
}

.button.blocky {
  display: block;
  width: 100%;
  padding: 14px 16px;
  font-size: 1.4em;
  margin-bottom: 12px;
}
